$component-name: "c-header";

.#{$component-name} {
  display: flex;
  align-items: center;
  justify-content: space-around;

  h1 {
    color: #eac810;
    font-size: rem(28);
    text-align: center;
  }

  &__menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-right: rem(16);
  }

  span {
    font-size: rem(16);
    text-transform: uppercase;
  }

  &__item {
    position: relative;
    margin: 0 rem(8);
    color: #b8862b;

    &:hover {
      .#{$component-name}__dropdown {
        opacity: 1;
        transform: rotateX(0) translateX(-50%);
        transition-timing-function: ease-out;
      }
    }
  }

  &__dropdown {
    background: linear-gradient(25deg, #f1ca3d, #f3bd76);
    border-radius: $global-radius;
    left: 50%;
    list-style: none;
    min-width: -webkit-fill-available;
    opacity: 0.01;
    padding: rem(8);
    position: absolute;
    top: calc(100% + 10px);
    transform-origin: top center;
    transform: translateX(-50%) rotateX(-90deg);
    transition: all $transition-duration-fast 200ms ease-in;
    width: max(calc(100% + 16px), 85px);
  }

  &__link {
    text-decoration: none;
    font-size: rem(16);
    text-transform: uppercase;
    color: #b8862b;

    &:hover {
      text-decoration: underline;
    }
  }

  &__dropdown a.#{$component-name}__link {
    font-size: rem(15);
    text-transform: initial;
    color: #916801;
  }

  &__dropdown-item:not(:last-child) {
    margin-bottom: rem(8);
  }

  &__flag {
    display: flex;
    padding: 0 rem(16);
  }

  &__flag img {
    width: rem(24);
    height: rem(24);
  }
}
