$component-name: "c-main";

.#{$component-name} {
  width: 90%;
  margin: rem(72) auto;

  section {
    margin-top: rem(56);

    .#{$component-name}__chart-title {
      text-indent: rem(8);
      font-size: rem(24);
      text-shadow: 0px 1px #b1b1b1;
      text-transform: capitalize;
      letter-spacing: 0.5px;
      word-spacing: 0.5px;
      color: darkorange;
    }
  }

  &__details {
    margin: rem(32) auto;
    width: 100%;
    max-width: 400px;

    @include breakpoint(small-up) {
      max-width: 720px;
    }

    &-info-header {
      margin: rem(24) rem(24) 0;
    }

    & > summary {
      padding: rem(12);
      background-color: #fcd810;
      border: 1px solid #e2c31e;
      border-bottom: none;
      border-radius: $global-radius $global-radius 0 0;

      font-weight: bold;
      letter-spacing: 0.5px;
      list-style: none;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: background-color $transition-duration-entrance;
      box-shadow: #b1b1b1 0 0 6px 0;

      &:hover {
        background-color: #fad815de;
      }

      &::before {
        content: "";
        background: url("/img/arrow.svg") center no-repeat;
        width: rem(20);
        height: rem(20);
        margin-right: rem(8);
        transition: transform ease-in-out $transition-duration;
      }

      & ~ * {
        background: #f1f0f0bf;
        border-radius: 0 0 $global-radius $global-radius;
        border: 1px solid #e2c31e;
        border-top: none;
        padding: rem(8);
        margin-top: 0em;
        text-align: justify;
        line-height: rem(24);

        @include breakpoint(small-up) {
          padding: rem(8) rem(24);
        }

        li > span {
          color: #922c05;
        }
      }
    }

    &[open] > summary {
      &::before {
        transform: rotate(180deg);
        transition: transform ease-out $transition-duration;
      }

      ~ * {
        transform-origin: top center;
        animation: sweep ease-in-out 0.5s;
      }
    }

    &-yellowline {
      color: #e2c31e;
      text-shadow: 0.1px 0.1px #333;
      letter-spacing: 0.5px;
    }

    &-links {
      padding-left: 1em;
      list-style-position: inside;

      span {
        font-size: rem(16);
      }

      li {
        margin-top: rem(8);

        a {
          color: #916801;
          text-decoration: none;
          transition: all ease $transition-duration;
        }

        a:hover {
          text-decoration: underline;
          color: #a57706;
        }
      }

      li::marker {
        color: transparent;
      }
    }

    &-math-details {
      ol {
        padding: rem(4);
        list-style-position: inside;

        ul {
          padding: rem(8);

          @include breakpoint(small-only) {
            font-size: rem(16);
          }
        }

        & .#{$component-name}__details-math {
          word-spacing: -1px;
          letter-spacing: -0.5px;
          color: #1d1b1b;
        }
      }
    }

    &-charts-config-reminder {
      font-style: italic;
      font-size: rem(15);
    }

    time {
      font-family: monospace;
      font-size: rem(16);
      letter-spacing: -0.5px;
    }
  }
}

##{$component-name} {
  &__chart {
    width: 100%;
    height: rem(400);
    display: flex;
    flex-direction: column;

    .#{$component-name}__chart-menu {
      order: 1;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: rem(24);
      margin: rem(16) 0;
      border-top: 1px solid #8d8d8d;
      padding: rem(2) 0 rem(2) 0;
      position: relative;

      button {
        display: none;
        width: fit-content;
        max-width: 160px;
        background: whitesmoke;
        padding: rem(8);
        border-radius: 0 $global-radius $global-radius 0;
        font-size: rem(14);
        border-width: 1px;
        transition: all $transition-duration-exit ease-in;

        &:last-of-type {
          border-radius: $global-radius 0 0 $global-radius;
          justify-self: right;
        }

        &:hover {
          background-color: initial;
        }

        @include breakpoint(small-only) {
          display: block;

          &.#{$component-name}__chart-menu-button-expanded {
            & ~ div:first-of-type {
              transform: translate(13%, -25%) rotateX(-90deg);

              &.open {
                transform: translate(13%, -25%) rotateX(0deg);
                opacity: 1;
              }
            }

            & ~ div:last-child {
              transform: translate(-16%, -21%) rotateX(-90deg);

              &.open {
                transform: translate(-16%, -21%) rotate(0deg);
                opacity: 1;
              }
            }
          }
        }
      }

      & > div {
        z-index: z-index(overlay);
        background: #fefefe;

        &:last-child {
          justify-self: right;
          right: 0;
        }

        ul {
          padding: 0;
          margin: 0;
          list-style: none;
          display: inline-flex;
          align-items: center;

          li {
            padding: rem(16) rem(4);
            cursor: pointer;
            transition: all $transition-duration-entrance ease-in;
            user-select: none;

            &:hover {
              background: rgb(240, 240, 240);
            }

            .#{$component-name}__chart-menu-time-series,
            .#{$component-name}__chart-menu-unit {
              font-size: rem(14);
              letter-spacing: 0.5px;
              text-align: center;

              &.#{$component-name}__chart-menu-option-active {
                position: relative;
                color: #0b7596;

                &::after {
                  content: "";
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                  bottom: -4px;
                  width: 50%;
                  height: 2px;
                  background: #e4c61c;
                  border-radius: 0.4px;
                  animation: sweep $transition-duration ease-in;
                }
              }
            }
          }
        }

        @include breakpoint(small-only) {
          position: absolute;
          bottom: 0;
          width: rem(120);
          border: 1px solid #adadad;
          box-shadow: 1px -1px 4px -2px #90908f;
          opacity: 0.01;
          transform-origin: bottom center;
          transition: all $transition-duration ease-in;

          &:first-of-type {
            left: 0;
            transform: translate(-7%, -25%) rotateX(-90deg);

            &.open {
              transform: translate(-7%, -25%) rotateX(0deg);
              opacity: 1;
            }

            ul li {
              .#{$component-name}__chart-menu-time-series {
                &.#{$component-name}__chart-menu-option-active::after {
                  width: 20%;
                }
              }
            }
          }

          &:last-child {
            transform: translate(7%, -21%) rotateX(-90deg);

            &.open {
              transform: translate(7%, -21%) rotate(0deg);
              opacity: 1;
            }
          }

          ul {
            display: block;

            li {
              padding: rem(12) rem(8);
            }
          }
        }
      }
    }
  }
}

@keyframes sweep {
  from {
    opacity: 0;
    transform: translateY(-1em) rotateX(-90deg);
  }

  to {
    opacity: 1;
    transform: translateY(0em) rotateX(0deg);
  }
}
